*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

.height {
    min-height: 70vh;
}

/* Navbar */
.navbar {
    background: transparent !important;
    transition: 1.5s;
}
.navbar.scrolled {
    background: #add8e6 !important;
    transition: 1.5s;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
    color: #add8e6;
    background: #fff;
}
.navbar-light .navbar-nav .active>.nav-link:hover {
    color:#000;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus{
    color: #000;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus
.navbar-light .navbar-brand:visited {
    color: #000;
    font-size: 1rem;
    font-weight: 400;
}

/* Services */
div .service-card:hover {
    cursor: pointer;
    transform: translateY(-15px);
}

div .service-card {
    transition: transform 0.3s ease-in;
}

/* Contact Us */
.btn-send:hover {
    margin-right: 5px;
}

.text-area {
    min-height: 200px;
}


/* Footer*/
div .footer-icon:hover {
    transform: translateY(-15px);
}

div .footer-icon {
    transition: transform 0.5s ease-in-out;
}

.p-card:hover {
    cursor: pointer;
    transform: translateX(-50px);
    background: #add8e6;
}

.p-card {
    transition: transform 1s ease-in-out;
}

.footer {
    background: #add8e6;
}

.project-section {
    background: #F4F4F1;
}

.card-bg {
    background: #add8e6;
    color: #000;
}

.hidden {
    visibility: hidden;
    height: 0;
}

.img-box {
    transition: transform 0.7s ease-in-out;
}

.img-box:hover {
    cursor: pointer;
    transform: translateX(30px);
}